*{
  margin: 0;
  padding: 0;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Arial'
}
h1, h2, h3, h4, h5 {
  color: #fff;
  font-weight: bold;
}
p, div {
  color: #fff;
  font-weight: bold;
}
/*login start*/
/*login main page*/
#main {
  background-color: #ADCCCC;
  padding-bottom: 20px;
}

form {
  border: 3px solid #f1f1f1;
}

input[type=fName], input[type=passWord], input[type=lName], input[type=eMail], input[type=telefonNummer] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #fff;
    border-radius: 25px;
    box-sizing: border-box;
    background-color: transparent;
    color: #fff;
    font: 'Arial';
    font-weight: bold;
}
input[type=text]::placeholder, input[type=password]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

input[type=text]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

input[type=text]::-ms-input-placeholder, input[type=password]::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}

button {
    background-color: #FAB32A;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
    font: 'Arial';
    font-weight: bold;
}

.lgnsocialbtn {
  width: 100%;
  padding: 12px 20px;
  margin: 12px 0;
  display: inline-block;
  border: 3px solid #fff;
  border-radius: 25px;
  box-sizing: border-box;
  background-color: #005260;
  color: #fff;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
/*Beholder div til standard Login*/
.container {
  padding: 40px 60px;
  padding-top: 10rem;
  margin-bottom: 50px;
}
/*Beholder div til Facebook og Google login*/
.container2 {
  padding: 40px 60px;
}
.container div {
  padding: 0 60px;
}
.container2 div {
  padding: 0 60px;
}


span.psw {
    float: right;
    padding-top: 16px;
}

/* login slut*/

/*kamara start*/
#headcam {
  position: fixed;
}


#camera, #camera--view, #camera--sensor, #camera--output{
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#camera--view, #camera--sensor, #camera--output{
  transform: scaleX(-1);
  filter: FlipH;
}

#camera--trigger{
  width: 200px;
  background-color: #ADCCCC;
  color: white;
  font-size: 16px;
  border-radius: 30px;
  border: 3px #fff;
  padding: 15px 20px;
  text-align: center;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  position: fixed;
  bottom: 30px;
  left: calc(50% - 100px);
}

.taken{
  height: 100px!important;
  width: 100px!important;
  transition: all 0.5s ease-in;
  border: solid 3px white;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  top: 20px;
  right: 20px;
  z-index: 2;
}

/*kamera slut*/

/*Færdigheder Start*/
#section-b {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.txt {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
.h1f {
  color: #005260;
  text-align: center;
  margin: 1rem;
  font-size: 2.5em;
  font-weight: bold;
}
.container-chart{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
.container-chart .box .chart {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  line-height: 150px;
}
.container-chart .box h2 {
  text-align: center;
}
.container-chart .box canvas {
  position: absolute;
  top: 0;
  left: 0;
}

/*Færdigheder slut*/
.spilnav-wrapper {
  margin: 0%;
  width: 100%;
  height: 700px;
  background-color: #adcccc;
}

.spilnav-hjemknap {
  color: #ffffff;
  font-size: 40px;
  margin-left: 3%;
  padding-top: 0.8%;
}

.spilnav-hjemknap img {
  width: 40px;
}

.spilnav-h1 h1 {
  color: #ffffff;
  margin-top: 0%;
  font-size: 24px;
  text-align: center;
}

.spilnav-niveau1 {
  color: #ffffff;
  height: 70px;
  width: 80%;
  margin-top: 22%;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #ffffff;
  border-width: 4px;
  border-radius: 40px;
}

.spilnav-niveau1 {
  text-align: center;
  font-size: 16px;
}

.spilnav-niveau2 {
  color: #ffffff;
  height: 70px;
  width: 80%;
  margin-top: 22%;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #ffffff;
  border-width: 4px;
  border-radius: 40px;
}

.spilnav-niveau2 {
  text-align: center;
  font-size: 16px;
}

.spilnav-niveau3 {
  color: #ffffff;
  height: 70px;
  width: 80%;
  margin-top: 22%;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #ffffff;
  border-width: 4px;
  border-radius: 40px;
}

.spilnav-niveau3 {
  text-align: center;
  font-size: 16px;
}

.spilside-wrapper {
  margin: 0%;
  width: 100%;
  height: 700px;
  background-color: #95b5b7;
}

.spilside-hjemknap {
  position: absolute;
  color: #ffffff;
  font-size: 40px;
  margin-left: 3%;
  padding-top: 0.8%;
}

.spilside-billede {
  width: 100%;
  height: auto;
  padding-top: 7%;
  text-align: center;
}

.spilside-billede img {
  width: 90%;
}

.spilside-info {
  color: #ffffff;
  margin-top: 16%;
  font-size: 14px;
  text-align: center;
}

.spilside-valgmuligheder {
  color: #ffffff;
  margin-top: 16%;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;

}

.spilside-valg1 {
  width: 38%;
  float: left;
  margin-left: 8%;
  border-style: solid;
  border-color: #ffffff;
  border-width: 5px;
  border-radius: 5px;
  text-align: center;
}

.spilside-valg2 {
  width: 38%;
  float: right;
  margin-right: 8%;
  border-style: solid;
  border-color: #ffffff;
  border-width: 5px;
  border-radius: 5px;
  text-align: center;
}

.galleri-wrapper {
  margin: 0%;
  width: 100%;
  height: 700px;
  background-color: #cccccc;
}

.galleri-hjemknap {
  position: absolute;
  color: #ffffff;
  font-size: 40px;
  margin-left: 3%;
  padding-top: 0.8%;
}

.galleri-billede {
  width: 100%;
  height: auto;
  padding-top: 7%;
  text-align: center;
}

.galleri-billede img {
  width: 90%;
}

.galleri-lydoptagelse {
  color: #ffffff;
  font-size: 90px;
  text-align: center;
  margin-top: 15%;
}

.galleri-lydoptagelse2 {
  color: red;
  font-size: 90px;
  text-align: center;
  margin-top: 15%;
  display: none;
}

.galleri-note {
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

.galleri-note {
  color: #ffffff;
  font-size: 22px;
}

.galleri-note h1 {
  margin-bottom: 16px;
}

.galleri-note textarea {
  color: #cccccc;
  border-style: solid;
  border-color: #ffffff;
  border-width: 5px;
  border-radius: 5px;
}

.udfordring-wrapper {
  margin: 0%;
  width: 100%;
  background-color: #abc7c9;
}

.udfordring-hjemknap {
  color: #ffffff;
  font-size: 40px;
  margin-left: 3%;
  padding-top: 0.8%;
}

.udfordring-bjaelke {
  position: relative;
  height: 30px;
  width: 80%;
  background-color: white;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.udfordring-dag1 {
  position: absolute;
  width:24%;
  height: 100%;
  margin: 0%;
  border-radius: 20px;
}

.udfordring-dag5 {
  position: absolute;
  width:23%;
  height: 100%;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 77%;
  background-color: white;
  border-radius: 20px;
}

.udfordring-dag2 {
  position: absolute;
  width:20%;
  height: 100%;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20%;
  background-color: white;
}

.udfordring-dag3 {
  position: absolute;
  width:20%;
  height: 100%;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 40%;
  background-color: white;
}

.udfordring-dag4 {
  position: absolute;
  width:20%;
  height: 100%;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 60%;
  background-color: white;
}

.udfordring-streg1 {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: black;
  margin-left: 20%;
}

.udfordring-streg2 {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: black;
  margin-left: 40%;
}

.udfordring-streg3 {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: black;
  margin-left: 60%;
}

.udfordring-streg4 {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: black;
  margin-left: 80%;
}



.udfordring-udfordringer {
  width: 100%;
  color: white;
  text-align: center;
}

.udfordring-udfordring1 h1 {
  margin-top: 28px;
  margin-bottom: 0px;
  font-size: 27px;
  color: #558c94;
}

.udfordring-udfordring2 h1 {
  margin-top: 28px;
  margin-bottom: 0px;
  font-size: 27px;
  color: #558c94;
}

.udfordring-udfordring3 h1 {
  margin-top: 28px;
  margin-bottom: 0px;
  font-size: 27px;
  color: #558c94;
}

.udfordring-udfordring1 h2 {
  margin-top: 4px;
  font-size: 24px;
}

.udfordring-udfordring2 h2 {
  margin-top: 4px;
  font-size: 24px;
}

.udfordring-udfordring3 h2 {
  margin-top: 4px;
  font-size: 24px;
}

.udfordring-udfordring1 .udfordring-noncompletion {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: block;
}

.udfordring-udfordring1 .udfordring-completion {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: none;
}

.udfordring-udfordring2 .udfordring-noncompletion {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: block;
}

.udfordring-udfordring2 .udfordring-completion {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: none;
}

.udfordring-udfordring3 .udfordring-noncompletion {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: block;
}

.udfordring-udfordring3 .udfordring-completion {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: none;
}
