.panel {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
.panel{
    background-color:#333333;
    padding:1em;
    /*width:92.5%;*/
    margin:auto;
    /*max-width:30em;*/
}
.menuknap {
    float: left;
}
.menuknap a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 16px;
}
.menuknap a:hover {
    background-color: #111111;
}
.floatTilfoj{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.floatSlet{
	position:fixed;
	width:60px;
	height:60px;
	bottom:120px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
.my-float{
	margin-top:22px;
}

#searchInput {
  /*background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;*/
  font-size: 16px;
  padding: 12px;
  border: 1px solid #ddd;
  margin-top: 12px;
  margin-bottom: 10px;
}

#minListe {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#minListe li a {
  border: 1px solid #ddd;
  margin-top: 3px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#minListe li a:hover:not(.header) {
  background-color: #eee;
}