

<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Kursistside</title>
    <link rel="stylesheet" href="/stylesheets/stylelogin.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

<header>



  <!--Logo øverst oppe-->
  <a href="http://localhost:8080"><img class="logoutmenu" src="https://storage.googleapis.com/billedertilsprogapp/logout.png" alt="logout"></a>
  <!--Velkomstbesked-->
  <p id="welcome_msg">welcome placeholder</p>


 </header>

  <body>

    <script>
     window.onload = function () {
       var cookieDataArray = document.cookie.split("=");
       var userDataObject = JSON.parse(cookieDataArray[1]);

       document.getElementById("welcome_msg").innerHTML = "velkommen " + userDataObject.username
       

       
     } 
    </script>

    <!--Knapper-->
    <div class="buttonsmenu">
        <button class="button" onclick="window.location.href='http://localhost:8080/Kursist' /* + et ID */">Min Profil</button>
        <button class="button" onclick="location.href='http://localhost:8080/ordbog'">Min Ordbog</button>
        <button class="button" onclick="window.location.href='http://localhost:8080/chatOverview'"> Chat </button>
  
      </div>

    

  </body>
</html>