<!DOCTYPE html>
<html>

<head>
  <title>Ordbog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/tempOrdbogSheet.css">
  <script src="javascripts/ordbog.js"></script>
</head>

<body>

  <!-- Navigations panel / Header -->
  <header>
    <nav>
      <ul>
        <li id="js_dine_ord" class="panel" onclick="dine_ord()"><a href="#">Dine ord</a></li>

        <!-- Udkommenterede navigationsknapper som måske skal benyttes til senere brug: -->
        <!--<li id="js_tilfoj_ord" class="floatTilfoj"><a href="#" onclick="tilfoj_ord()">Tilføj ord</a></li>-->
        <!--<li id="js_rediger_ord" class="panel"><a href="#" onclick="rediger_ord()">Redigér ord</a></li> -->
        <!--<li id="js_slet_ord" class="floatSlet"><a href="#" onclick="slet_ord()">Slet ord</a></li> -->

      </ul>
    </nav>
  </header>

  <!-- Hovedafsnit -->
  <section>
    <!-- Hovedafsnit / Dine ord -->
    <div id="dine_ord">
      <p>Ordliste:</p>
      <!-- Form hvor ord.Ord kan markeres og slettes med 'Slet'-submit knap. -->
      <form method="POST" action="<!-- indsæt ny metode -->">

        {{#each this}}
        <input type="radio" name="ord" value={{this._id}}>{{this.ord}}<br>
        {{/each}}

        <input type="submit" value="slet" class="floatSlet">
        <button id="js_tilfoj_ord" class="floatTilfoj"><a href="#" onclick="tilfoj_ord()">Tilføj ord</a></button>
      </form>
    </div>

    <!-- Hovedafsnit / Tilføj ord -->
    <div id="tilfoj_ord" style="display: none;">
      <form method="POST" action="ordbog/postord">
        <p>Nyt ord:<br></p>
        <input type="text" name="ord" id="input_nyt_ord" placeholder="Skriv her"></input>
        <input type="submit" value="Gem"></input>
      </form>
    </div>

    <!-- Hovedafsnit / Seneste ord -->
    <div>

    </div>
  </section>
</body>

</html>