<!DOCTYPE html>
<html>

<head>
  <title>Ordbog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/tempOrdbogSheet.css">
  <script src="javascripts/ordbog.js"></script>
</head>

<body>
  <!-- Navigations panel / Header -->
  <header>
    <nav>
      <ul class="panel">
        <li id="js_dine_ord" class="menuknap" onclick="dine_ord()"><a href="#">Dine ord</a></li>
      </ul>
    </nav>
  </header>

  <!-- Hovedafsnit -->
  <section>
    <!-- Hovedafsnit / Dine ord -->
    <div id="dine_ord" class="overskrift">
      <!-- Søgefelt -->
      <input type="text" id="searchInput" onkeyup="search()" placeholder="Hvilket ord søger du?" title="Skriv et ord">

      <p id="overskriftOrdliste" class="overskrift">Ordliste:</p>
      <!-- Form hvor ord indsættes. Ord kan markeres og slettes med 'Slet'-submit knap. -->
      <form method="POST" action="<!-- indsæt ny metode -->">
        <ul id="minListe">
          {{#each this}}
          <li name="ord" value={{this._id}} onclick="vis_ord()"><a href="#">{{this.ord}}</a></li>
          {{/each}}
        </ul>
        <input type="submit" value="slet" class="floatSlet">
      </form>
      <button id="js_tilfoj_ord" class="floatTilfoj" onclick="tilfoj_ord()">Tilføj ord</button>
    </div>

    <!-- Hovedafsnit / Tilføj ord -->
    <div id="tilfoj_ord" style="display: none;">
      <form method="POST" action="ordbog/postord">
        <p id="overskriftTilfojOrd" class="overskrift">Nyt ord:<br></p>
        <input type="text" name="ord" id="input_nyt_ord" placeholder="Skriv her"></input>
        <input type="submit" value="Gem"></input>
      </form>
    </div>

    <!-- Hovedafsnit / Vis ord og billeder og redigér-->
    <div id="vis_ord" style="display: none;">
      <!-- <img class="visOrdBillede"> -->
       
        <h5 class="visOrdOrd">Ord</h5>
        <h6 class="visOrdKategori">Kategori</p>
        <a href="#" class="btnVisOrdAfspilLyd">Afspil lydfil</button><br>
        <a href="#" id="btnRediger" class="btnVisOrdRediger" onclick="btn_rediger()">Redigér</a>
      
    </div>
  </section>

  <script>
    // Kører her efter siden er indlæst og fjerner de 3 sidste tomme ord html objekter.
    let ordArray = document.getElementsByName("ord");
    let ordArrayLength = ordArray.length;

    for (let i = 0; i <= ordArrayLength - 3; i++) {
      if (ordArray[i].value == 0) {
        ordArray[i].remove();
      }
    }
    
    ordArrayLength = ordArray.length;
    ordArray[ordArrayLength - 2].remove();
    
  </script>

</body>

</html>