<!DOCTYPE html>
<html>

<head>
  <title>Ordbog</title>
  <script src="javascripts/ordbog.js"></script>
</head>

<body>
  <br>
  <!-- Hovedafsnit -->
  <section>
    <div class="container" id="mainOrdbog">

      <div class="card-columns">
        {{#each this}}
        <div class="card" style="width: 18rem, background-color: #e3f2fd;">
          <img class="card-img-top" src="images/defaultPicture.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{this.ord}}</h5>
            <p class="card-text">Kategori: {{kategori}} </p>
            <a id="a" href="/ordbog/redigerord/{{_id}}" class="btn btn-primary">Rediger</a>
            <a id="b" href="/ordbog/slet_ord/{{_id}}" class="btn btn-primary">Slet</a>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </section>

  <script>
    // Kører her efter siden er indlæst og fjerner de 3 sidste tomme ord html objekter.
    let ordArray = document.getElementsByClassName("card");
    let ordArrayLength = ordArray.length;

    ordArray[ordArrayLength - 3].remove();
    ordArray.length;
    ordArray[ordArrayLength - 3].remove();
    ordArray.length;
    ordArray[ordArrayLength - 3].remove();

  </script>

</body>

</html>