<!DOCTYPE html>
<html>

<head>
  <title>Ordbog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/tempOrdbogSheet.css">
  <script src="javascripts/ordbog.js"></script>
</head>

<body>
  <!-- Navigations panel / Header -->
  <header>
    <nav>
      <ul class="panel">
        <li id="js_dine_ord" class="menuknap"><a href="ordbog#">Dine ord</a></li>
      </ul>
    </nav>
  </header>

  <!-- Hovedafsnit -->
  <section>
    <!-- Hovedafsnit / Dine ord -->
    <div id="dine_ord" class="overskrift">
      <!-- Søgefelt -->
      <input type="text" id="searchInput" onkeyup="search()" placeholder="Hvilket ord søger du?" title="Skriv et ord">
    </div>
    <div>
      <p id="overskriftOrdliste" class="overskrift">Ordliste:</p>
      <!-- Form hvor ord indsættes. Ord kan markeres og slettes med 'Slet'-submit knap. -->
      <form method="GET" action="/ordbog/:id">
        <ul>
          {{#each this}}
          <li>
            <label for="name">{{this.ord}}<input type="radio" name="id" value={{this._id}}></label>
          </li>
          {{/each}}
        </ul>
        <input type="submit" value="Vis" class="floatVis">
      </form>
    </div>
    <div>
        <button class="floatTilfoj" onclick="location.href='/tilfojord'" >Tilføj ord</button>
    </div>
  </section>

  <script>
    // Kører her efter siden er indlæst og fjerner de 3 sidste tomme ord html objekter.
    let ordArray = document.getElementsByName("id");
    let ordArrayLength = ordArray.length;

    for (let i = 0; i <= ordArrayLength - 3; i++) {
      if (ordArray[i].value == 0) {
        ordArray[i].remove();
      }
    }

    ordArrayLength = ordArray.length;
    ordArray[ordArrayLength - 2].remove();
    ordArray[ordArrayLength - 3].remove();

  </script>

</body>

</html>