<!DOCTYPE html>
<html>

<head>
    <title>Tilføj ord</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/tempOrdbogSheet.css">
</head>

<body>
    <section>
        <div id="tilfoj_ord">
            <h3 class="m-4">Nyt ord<br></h3>
            <form class="form-inline" method="POST" action="./postord">
                <input class="form-control ml-4" type="text" name="ord" id="input_nyt_ord" placeholder="Skriv her">
                <input class="btn btn-primary ml-2" type="submit" value="Gem">
            </form>
        </div>
    </section>
</body>

</html>