<!DOCTYPE html>
<html>

<head>
    <title>Tilføj ord</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/tempOrdbogSheet.css">
</head>

<body>
    <section>
        <div id="tilfoj_ord">
            <h3 class="m-4">Nyt ord<br></h3>
            <form method="POST" action="./postord" enctype="multipart/form-data">

                <input class="form-control ml-4" type="text" name="ord" id="input_nyt_ord" placeholder="Ord">
                <br>
                <input class="form-control ml-4" type="text" name="kategori" id="input_nyt_ord" placeholder="Kategori">
                <br>
                <input class="form-control ml-4" type="file" accept="image/jpeg, image/png, image/jpg" name="image" capture>
                <br>
                <input class="btn btn-primary ml-4" type="submit" value="Gem">

            </form>
        </div>
    </section>
</body>

</html>