<!DOCTYPE html>
<html>

<head>
    <title>Rediger ord</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/tempOrdbogSheet.css">
</head>

<body>
    <section>
        <div>
            <h3 class="m-4">Rediger ord<br></h3>
            <form class="form-inline" method="POST" action="/ordbog/redigerord">
                <input type="hidden" name="id" value={{this._id}}>
                <div>
                    <input class="form-control ml-4" type="text" name="ord" id="input_nyt_ord" placeholder="Ord" value={{this.ord}}>
                </div>
                <div>
                    <input class="form-control ml-4" type="text" name="kategori" id="input_nyt_ord" placeholder="Kategori" value={{this.kategori}}>
                </div>
                    <input class="btn btn-primary ml-2" type="submit" value="Gem">
                
            </form>
        </div>
    </section>
</body>

</html>